.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
}
.app > label{
    margin-bottom: 1rem;
}
.app > input{
    margin-bottom: 1.5rem;
    padding: 5px;
}
.app > button{  
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
h2{
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 5px;
}
.foodList{
    max-width: 70vw;
    display: grid;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 1.5em;
}
.deleteBtn{
    margin-top: 20px;
}
.updateFood{
    display: flex;
    gap: 5px;
}